<footer class="page-footer font-small bg-purple pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a class="icogit" href="https://github.com/FaveroNath/" target="_blanck">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                        
                    </li>
                    <li>
                        <a class="icoig" href="https://www.instagram.com/generationbrasil/" target="_blanck">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        
                    </li>
                    <li>
                        <a class="icogln" href="https://www.linkedin.com/in/nathalia-favero-amorim-123b441b3/" target="_blanck">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        
                    </li>
                   
              
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-purple1 text-center p-3">
        <span class="text-light"> &copy; Todos os direitos reservados: Nathalia F. Amorim</span>
    </div>
</footer>
