ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 28px;
    color: azure;
    padding: 10px;
}
.fa-github:hover{
    color: rgb(16, 16, 17);
}
.fa-instagram:hover{
     color: crimson;
}

.fa-linkedin:hover{
    color: rgb(46, 76, 139);
} 